# Project
PROJECT_NAME="MONA 360"
VERSION="1.0.0"
DESCRIPTION="Its not for idiots like you"

# MongoDB
MONGODB_URL=
MONGODB_DB_NAME=mona360

# JWT
SECRET_KEY=ThisIsASecretKeyForJWTTokenGeneration242343NEEAARAAA
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440


# CORS (comma-separated or JSON array)
ALLOWED_ORIGINS=["*"]
